---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "ほゆむのひとりごと について";
---

<BaseLayout pageTitle={pageTitle}>
  <p>ほゆむの個人ブログです。</p>
    <p>プログラミング、イラスト、ゲームなど興味のあることについての記事を書きます。</p>

		<div class="sns">
			<a href="https://twitter.com/hoyum_tt">X(旧Twitter)</a>
			<br>
			<a href="">YouTube</a>
		</div>
</BaseLayout>


<style>
	.sns {
		line-height: 1.5em;
		margin-top: 3em;
	}
</style>