---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "ほゆむのひとりごと について";

const sns = ["X(Twitter)", "YouTube"];
---

<BaseLayout pageTitle={pageTitle}>
  <p>ほゆむの個人ブログです。</p>
    <p>興味のあることについての記事を書きます。</p>

		<ul>
			{sns.map((_sns) => <li>{_sns}</li>)}
		</ul>
</BaseLayout>