---
import Navigation from "./Navigation.astro";
---
<div class="side-bar">
  <div class="hamburger">
    <span class="line ham1"></span>
    <span class="line ham2"></span>
    <span class="line ham3"></span>
  </div>

  <nav id="hidden">
    <ul>
      <Navigation />
    </ul>
    <div class="side-line"></div>
  </nav>
</div>

<script>
  document.querySelector('.side-bar .hamburger').addEventListener('click', function() {
    document.querySelector('.side-bar nav').classList.toggle('active');
    document.querySelector('.side-bar nav ul').classList.toggle('active');
    document.querySelector('.side-bar nav .side-line').classList.toggle('active');
    document.querySelector('.side-bar .hamburger .ham1').classList.toggle('active');
    document.querySelector('.side-bar .hamburger .ham2').classList.toggle('active');
    document.querySelector('.side-bar .hamburger .ham3').classList.toggle('active');
  });
</script>